{% extends 'base.html' %}
{% load static %}
{% block body %}
{% for product, range in products %}
<div class="container mt-3 mx-auto">
    <div class="mt-3">
        <h2>{{product.0.subcategory}}</h2>
    </div>
    <div class="container ">
        <div class="row mt-2">
            {% for i in product %}
            <div class="col-3 text-center border rounded-3">
                <h5>{{i.name|slice:15}}..</h5>
                <div class="justify-center">
                    <img class='image' src='{{i.imageUrl}}' alt="">
                </div>
                <div class="d-inline-flex">
                    <button data-product="{{i.id}}" data-action="add" class="btn btn-sm add-btn update-cart but">Add To Cart</button>
                    <a href="#" data-product="{{i.id}}" class="pt-2 btn btn-sm viewbtn anc">View</a>
                    <span class="m-1 p-1"> ₹{{i.price}}</span>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endfor %}
{% endblock %}